header img {
  height: auto;
  width: 100px;
}

.header{
  grid-area: he;
  background-color: bisque;
}

.login{
  padding: 10px;
  float: right;
}

 a{
  text-decoration: none;
}

a.active{
  color: black;
  text-decoration: underline;
}

.item img{
  padding: 50px;
}