.app-wrapper {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-areas:
  "he he"
  "na co";
  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.header img {
  height: auto;
  width: 100px;
}

.header{
  grid-area: he;
  background-color: bisque;
}

.nav{
  grid-area: na;
  background-color: chartreuse;
}

.content{
  grid-area: co;
  background-color: darkgray;
}